<h1>Listing consultados</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Cpf</th>
    <th>Data nasc</th>
    <th>Nome mae</th>
    <th>Titulo eleitor</th>
    <th>Sexo</th>
    <th>Data obito</th>
    <th>Unidade adm</th>
    <th>Situacao cadastral</th>
    <th>Endereco</th>
    <th>Observacoes</th>
    <th>Caminho foto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @consultados.each do |consultado| %>
  <tr>
    <td><%= consultado.nome %></td>
    <td><%= consultado.cpf %></td>
    <td><%= consultado.data_nasc %></td>
    <td><%= consultado.nome_mae %></td>
    <td><%= consultado.titulo_eleitor %></td>
    <td><%= consultado.sexo %></td>
    <td><%= consultado.data_obito %></td>
    <td><%= consultado.unidade_adm %></td>
    <td><%= consultado.situacao_cadastral %></td>
    <td><%= consultado.endereco %></td>
    <td><%= consultado.observacoes %></td>
    <td><%= consultado.caminho_foto %></td>
    <td><%= link_to 'Show', consultado %></td>
    <td><%= link_to 'Edit', edit_consultado_path(consultado) %></td>
    <td><%= link_to 'Destroy', consultado, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Consultado', new_consultado_path %>
