<h1>Contatos</h1>
</br>

<script>
    $(document).ready(function() {
        $('li[accesskey|="1"]').addClass("current_page_item");
    });
</script>

<%= render '/layouts/filtro' %>

<table id="box-table-a" class="advancedtable">
  <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Empresa</th>
        <th>Departamento</th>
        <th>Telefone</th>
        <th class="noclick"></th>
        <th class="noclick"></th>
        <th class="noclick"></th>
      </tr>
  </thead>
  <tbody>
    <% @contatos.each do |contato| %>
      <tr>
        <td><%= contato.nome %></td>
        <td><%= contato.email %></td>
        <td><%= contato.empresa %></td>
        <td><%= contato.departamento %></td>
        <td><%= contato.telefone %></td>
        <td class="visualizar"><img src="assets/open.png" style="vertical-align:middle"> <%= link_to 'Visualizar', contato %></td>
        <td class="editar"><img src="assets/edit.png" style="vertical-align:middle"><%= link_to 'Editar', edit_contato_path(contato) %></td>
        <td class="excluir"><img src="assets/delete.png" style="vertical-align:middle"><%= link_to 'Excluir', contato, :method => :delete, :data => { :confirm => 'Você tem certeza que desejar excluir esse contato?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Novo', new_contato_path %>

