<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @contato.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @contato.email %>
</p>

<p>
  <b>Empresa:</b>
  <%= @contato.empresa %>
</p>

<p>
  <b>Departamento:</b>
  <%= @contato.departamento %>
</p>

<p>
  <b>Tipo:</b>
  <%= @contato.tipo_contato %>
</p>

<p>
  <b>Telefone:</b>
  <%= @contato.telefone %>
</p>

<script>$('li[accesskey|="1"]').addClass("current_page_item");</script>
<%= link_to 'Editar', edit_contato_path(@contato) %> |
<%= link_to 'Voltar', contatos_path %>

