<%= form_for(@demanda, :html => { :multipart => true }) do |f| %>
  <% if @demanda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@demanda.errors.count, "error") %> prohibited this demanda from being saved:</h2>

      <ul>
      <% @demanda.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field_group">
    <h3>Dados do Levantamento:</h3>
    <%= f.hidden_field :tipo_demanda, :value => 2 %>
    <div class="field">
      <%= f.label :data %><br />
      <%= f.date_select :data %>
    </div>
    <div class="field">
      <%= f.label :uf %><br />
      <%= f.select :uf, [['Alagoas', "AL"], ['Bahia', "BA"], ['Ceará', "CE"],
        ['Maranhão', "MA"], ['Pernambuco', "PE"],['Piauí', "PI"], ['Paraíba','PB'],
        ['Rio Grande do Norte', "RN"],['Sergipe', "SE"]] %>
    </div>
    <div class="field">
      <%= f.label :solicitante %><br />
      <%= f.text_field :solicitante %>
    </div>
    <div class="field">
      <%= f.label :caminho_foto, "Empresa" %><br />
      <%= f.text_field :caminho_foto %>
    </div>
    <div class="field">
      <%= f.label :departamento %><br />
      <%= f.text_field :departamento %>
    </div>
    <div class="field">
      <%= f.label :relatorio_caso, "Relatório do Caso" %><br />
      <%= f.text_area(:nome_consultado, :size => '50x10') %>
    </div>
    <div class="field">
      <input type="checkbox" id="cbResposta"> Tem resposta?
      <div id="divResposta" style="display:none">
        <%= f.label :resposta %><br />
        <%= f.date_select :resposta, {:start_year => 1900, :end_year => Date.current.year, :include_blank => true, :default => nil}  %>
      </div>  
    </div>
    <div class="field">
      <%= image_tag(@demanda.foto_url, :width => 150, :id => 'foto') if @demanda.foto.present?%> <br />
      <%= f.file_field :foto , :id => "file_foto" %>
    </div>
    <div class="field">
      <%= f.label :cpf_consultado, "Local Visitado" %><br />
      <%= f.text_field :cpf_consultado %>
    </div>
    <div class="field">
      <%= f.label :nome_mae_consultado, "Endereço" %><br />
      <%= f.text_field :nome_mae_consultado %>
    </div>
    <div class="field">
      <%= f.label :unidade_adm_consultado, "Telefone" %><br />
      <%= f.text_field :unidade_adm_consultado %>
    </div>
    <div class="field">
      <%= f.label :situacao_cadastral_consultado, "Hora da Visita" %><br />
      <%= f.text_field :situacao_cadastral_consultado %>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit "Salvar"%>
  </div>
  <script>
  <% if @demanda.resposta.nil? %>
    desabilitaResposta();
  <% else %>
    $('#cbResposta').prop("checked", true);
    habilitaResposta();
  <% end %>  
  $(document).ready(function() {
    $("#cbResposta").click(function(){
      if($("#cbResposta").prop("checked")){
        habilitaResposta();
      }else{
        desabilitaResposta();
      }
    });
    
  });
  
  function habilitaResposta(){
    $("#divResposta").show();
    //$("#demanda_resposta_3i").prop("disabled", false);
    //$("#demanda_resposta_2i").prop("disabled", false);
    //$("#demanda_resposta_1i").prop("disabled", false);
  }
  
  function desabilitaResposta(){
    $("#divResposta").hide();
    $("#demanda_resposta_3i").val("");
    $("#demanda_resposta_2i").val("");
    $("#demanda_resposta_1i").val("");
    //$("#demanda_resposta_3i").prop("disabled", true);
    //$("#demanda_resposta_2i").prop("disabled", true);
    //$("#demanda_resposta_1i").prop("disabled", true);
  }
  
  $('a[accesskey|="3"]').parent().addClass("current_page_item");
</script>
<% end %>
