<%= form_for(@demanda, :html => { :multipart => true }) do |f| %>
  <% if @demanda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@demanda.errors.count, "error") %> prohibited this demanda from being saved:</h2>

      <ul>
      <% @demanda.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field_group">
    <h3>Dados da Consulta:</h3>
    <div class="field">
      <%= f.label :data %><br />
      <%= f.date_select :data %>
    </div>
    <div class="field">
      <%= f.label :uf %><br />
      <%= select_tag('demanda[uf]', options_for_select([['Acre', "AC"],
        ['Alagoas', "AL"], ['Amazonas', "AM"],['Amapá', "AP"],
        ['Bahia', "BA"], ['Ceará', "CE"],['Distrito Federal', "DF"],
        ['Espirito Santo', "ES"], ['Goiás', "GO"],['Maranhão', "MA"],
        ['Minas Gerais', "MG"], ['Mato Grosso do Sul', "MS"],
        ['Mato Grosso', "MT"],
        ['Pará', "PA"], ['Pernambuco', "PE"],['Piauí', "PI"],
        ['Paraná', "PR"], ['Rio de Janeiro', "RJ"],['Rio Grande do Norte', "RN"],
        ['Rio Grande do Sul', "RS"], ['Rondônia', "RO"],['Roraima', "RR"],
        ['Santa Catarina', "SC"], ['São Paulo', "SP"], ['Sergipe', "SE"],
        ['Tocantins', "TO"]
        ])) %>
    </div>
    <div class="field">
      <%= f.label :solicitante %><br />
      <%= f.text_field :solicitante %>
    </div>
    <div class="field">
      <%= f.label :departamento %><br />
      <%= f.text_field :departamento %>
    </div>
    <div class="field">
      <%= f.label :resposta %><br />
      <%= f.date_select :resposta %>
    </div>
    <div class="field">
      <%= f.label :carga_horaria %><br />
      <%= f.text_field :carga_horaria %>
    </div>
  </div>
  
  <div class="field_group">
    <h3>Dados do Consultado:</h3>
    <%= f.hidden_field :tipo_demanda, :value => 1 %>
    <div class="field">
      <%= f.label :nome_consultado, "Nome" %><br />
      <%= f.text_field :nome_consultado %>
    </div>
    <div class="field">
      <%= f.label :cpf_consultado, "CPF" %><br />
      <%= f.text_field :cpf_consultado %>
    </div>
    <div class="field">
      <%= f.label :data_nasc_consultado, "Data de Nascimento" %><br />
      <%= f.date_select (:data_nasc_consultado, :start_year => 1900, :end_year => Date.current.year - 13) %>
    </div>
    <div class="field">
      <%= f.label :nome_mae_consultado, "Nome da Mãe" %><br />
      <%= f.text_field :nome_mae_consultado %>
    </div>
    <div class="field">
      <%= f.label :titulo_eleitor_consultado, "Título de Eleitor" %><br />
      <%= f.text_field :titulo_eleitor_consultado %>
    </div>
    <div class="field">
      <%= f.label :sexo_consultado, "Sexo" %><br />
      <%= f.radio_button :sexo_consultado, "M" %>Masculino
      <%= f.radio_button :sexo_consultado, "F" %>Feminino
    </div>
    <div class="field">
      <%= f.label :data_obito_consultado, "Data de Óbito" %><br />
      <%= f.date_select (:data_obito_consultado, :start_year => 1900, :end_year => Date.current.year) %>
    </div>
    <div class="field">
      <%= f.label :unidade_adm_consultado, "Unidade Administrativa" %><br />
      <%= f.text_field :unidade_adm_consultado %>
    </div>
    <div class="field">
      <%= f.label :situacao_cadastral_consultado, "Situação Cadastral" %><br />
      <%= f.text_field :situacao_cadastral_consultado %>
    </div>
    <div class="field">
      <%= f.label :endereco_consultado, "Endereço" %><br />
      <%= f.text_field :endereco_consultado %>
    </div>
    <div class="field">
      <%= f.label :observacoes_consultado, "Observações" %><br />
      <%= text_area_tag(:observacoes_consultado, "", :size => "24x6") %>
    </div>
    <div class="field">
      <%= image_tag(@demanda.foto_url, :width => 150, :id => 'foto') if @demanda.foto.present?%> <br />
      <%= f.file_field :foto , :id => "file_foto" %>
    </div>
    
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<script>
  $(document).ready(function() {
    $("#file_foto").change(function(){
      $("#foto").remove();
    });
  });
  $('a[accesskey|="2"]').parent().addClass("current_page_item");
</script>
<% end %>
