<h1>Consultas</h1>

<script>
    $(document).ready(function() {
        $('li[accesskey|="2"]').addClass("current_page_item");
    });
    
    function gerarRelatorio(){
       var url = '/consultas/relatorio/1/' +
         $('#date_mes').val() + "/" +  $('#date_ano').val() + ".pdf";
       
        window.location = url;
    }
    
    function filtrar(){
       var url = '/consultas/list/1/' +
         $('#date_mes').val() + "/" +  $('#date_ano').val();
       
        window.location = url;
    }
</script>
<br>
<%= render '/layouts/filtro' %>



<table id="box-table-a" class="advancedtable">
  <tr>
    <thead>
      <th>Data</th>
      <th>Consultado</th>
      <th>Uf</th>
      <th>Solicitante</th>
      <th>Departamento</th>
      <th>Resposta</th>
      <th>Carga horaria</th>
      <th>Foto</th>
      <!--<th>PDF</th>-->
      <th colspan="3" class="noclick" style="text-align:center">Opera&ccedil;&otilde;es</th>
    </thead>
  </tr>

<% @demandas.each do |demanda| %>
  <tr>
    <td><%= demanda.data.strftime("%d/%m/%Y") %></td>
    <td><%= demanda.nome_consultado %></td>
    <td><%= demanda.uf %></td>
    <td><%= demanda.solicitante %></td>
    <td><%= demanda.departamento %></td>
    <td><%= demanda.resposta.strftime("%d/%m/%Y") %></td>
    <td><%= demanda.carga_horaria %></td>
    <td><%= image_tag(demanda.foto_url, :width => 30) if demanda.foto.present?%></td>
    <!--<td><%= demanda.caminho_pdf %></td>-->
    <td class="visualizar"><img src="assets/open.png" style="vertical-align:middle"/><%= link_to 'Visualizar', demanda %></td>
    <td class="editar"> <img src="assets/edit.png" style="vertical-align:middle"/><%= link_to "Editar", :controller => "demandas", :action => "edit_consulta", :id => demanda.id %></td>
    <td class="excluir"><img src="assets/delete.png" style="vertical-align:middle"/><%= link_to 'Excluir', demanda, :method => :delete, :data => { :confirm => 'Voc tem certeza que desejar excluir essa consulta?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Consulta', "/consultas/new" %>
