<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @demanda.data %>
</p>

<p>
  <b>Uf:</b>
  <%= @demanda.uf %>
</p>

<p>
  <b>Solicitante:</b>
  <%= @demanda.solicitante %>
</p>

<p>
  <b>Departamento:</b>
  <%= @demanda.departamento %>
</p>

<% if !@demanda.resposta.nil? %>
  <p>
    <b>Resposta:</b>
    <%= @demanda.resposta.strftime("%d/%m/%Y") %>
  </p>
<% end %>

<%= link_to 'Editar', :controller => "demandas", :action => "edit_levantamento", :id => @demanda.id %> |
<%= link_to 'Voltar', "/consultas/list/2" %>
