<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @demanda.data %>
</p>

<p>
  <b>Uf:</b>
  <%= @demanda.uf %>
</p>

<p>
  <b>Solicitante:</b>
  <%= @demanda.solicitante %>
</p>

<p>
  <b>Departamento:</b>
  <%= @demanda.departamento %>
</p>

<p>
  <b>Resposta:</b>
  <%= @demanda.resposta %>
</p>

<p>
  <b>Carga horaria:</b>
  <%= @demanda.carga_horaria %>
</p>

<%= link_to 'Editar', :controller => "demandas", :action => "edit_flagrante", :id => @demanda.id %> |
<%= link_to 'Voltar', "/consultas/list/3" %>
