<p id="notice"><%= notice %></p>
<%= image_tag(@demanda.foto_url, :width => 150) if @demanda.foto.present?%>

<% if !@demanda.data.nil? %>
  <p>
    <b>Data:</b>
    <%= @demanda.data %>
  </p>
<% end %>
<p>
  <b>UF</b>
  <%= @demanda.uf %>
</p>

<p>
  <b>Solicitante:</b>
  <%= @demanda.solicitante %>
</p>

<p>
  <b>Departamento:</b>
  <%= @demanda.departamento %>
</p>
<% if !@demanda.resposta.nil? %>
  <p>
    <b>Resposta:</b>
    <%= @demanda.resposta.strftime("%d/%m/%Y") %>
  </p>
<% end %>

<p>
  <b>Consultado:</b>
  <%= @demanda.nome_consultado %>
</p>

<p>
  <b>CPF:</b>
  <%= @demanda.cpf_consultado %>
</p>
<% if !@demanda.data_nasc_consultado.nil? %>
<p>
  <b>Data Nascimento:</b>
  <%= @demanda.data_nasc_consultado %>
</p>
<% end %>
<p>
  <b>RG:</b> 
  <%= @demanda.titulo_eleitor_consultado %>
</p>

<p>
  <b>Sexo:</b>
  <%= @demanda.sexo_consultado %>
</p>
<% if !@demanda.data_obito_consultado.nil? %>
  <p>
    <b>Data do &Oacute;bito:</b>
    <%= @demanda.data_obito_consultado.strftime("%d/%m/%Y") %>
  </p>
<% end %>
<p>
  <b>Unidade Administrativa:</b>
  <%= @demanda.unidade_adm_consultado %>
</p>

<p>
  <b>Situa&ccedil;&atilde;o Cadastral:</b>
  <%= @demanda.situacao_cadastral_consultado %>
</p>

<p>
  <b>Endere&ccedil;o:</b>
  <%= @demanda.endereco_consultado %>
</p>

<p>
  <b>UF:</b>
  <%= @demanda.uf %>
</p>

<p>
  <b>Observa&ccedil;&otilde;es:</b>
  <%= @demanda.observacoes_consultado %>
</p>

<%= link_to 'Gerar Relatorio', :controller => "demandas", :action => "relatorio_consultado", :id => @demanda.id, :format => "pdf"  %> | 
<%= link_to 'Editar', :controller => "demandas", :action => "edit_consulta", :id => @demanda.id %> |
<%= link_to 'Voltar', "/consultas/list/1" %>
