<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @status_consultum.id %>
</p>

<p>
  <b>Nome:</b>
  <%= @status_consultum.nome %>
</p>


<%= link_to 'Edit', edit_status_consultum_path(@status_consultum) %> |
<%= link_to 'Back', status_consulta_path %>
