<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @usuario.id %>
</p>

<p>
  <b>Login:</b>
  <%= @usuario.login %>
</p>

<p>
  <b>Passwd:</b>
  <%= @usuario.passwd %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
