<!DOCTYPE html>
<% if session[:usuario] %>
    <html>
    <head>
      
      <meta http-equiv="Content-Type" content="text/html; charset=ISO-8895-1">  
      <title>Sie</title>
      <%= stylesheet_link_tag "application" %>

      <%= javascript_include_tag "application" %>
      <%= javascript_include_tag "jquery-1.9.0.min" %>
      <%= javascript_include_tag "advancedtable" %>

      <%= csrf_meta_tags %>
    </head>
    <body>
    <div id="wrapper">
      <div id="header-wrapper">
        <div id="header">
          <div id="logo">
            <img src="/assets/logo.png" style="padding-top: 22px;">
          </div>
          <div id="menu">
            <ul>
              <li accesskey="1"><%= link_to "Contatos", :controller => "contatos" %></li>
              <li accesskey="2"><%= link_to "Consultas", :controller => "demandas", :action => "list", :tipo_demanda => 1 %>
              <li accesskey="3"><%= link_to "Levantamentos", :controller => "demandas", :action => "list", :tipo_demanda => 2 %>
              <li accesskey="4"><%= link_to "Autuados/Indiciados", :controller => "demandas", :action => "list", :tipo_demanda => 3 %>
              <li class="logout"><%= link_to "SAIR", logout_path, :method => :post %></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <div id="banner"><%= image_tag "header-img.jpg", {:width=>"1120", :height=>"50"} %></div> -->
      <div id="page-wrapper">
        <div id="page">
          <div id="content">

            <%= yield %>

          </div>
          <div id="sidebar">

          </div>
        </div>
      </div>
      <div id="footer-wrapper">
        <div id="footer-content">

        </div>
      </div>
    </div>
    <div id="footer">
      <p>Copyright (c) 2013 sie.com.br. All rights reserved. Design by <a href="http://www.freecsstemplates.org">FCT</a>.</p>
    </div>
    </body>
    <script>
        jQuery(document).ready(function($) {
            $('#loader').hide();
        });
    </script> 
    </html>
<% else %>
    <script>
        window.location.href="/"  
    </script>
<% end %>
