<!DOCTYPE html>
<% if session[:usuario] %>
    <html>
    <head>
      <title>Sie</title>
      <%= stylesheet_link_tag "application" %>

      <%= javascript_include_tag "application" %>
      <%= javascript_include_tag "jquery-1.9.0.min" %>
      <%= javascript_include_tag "advancedtable" %>

      <%= csrf_meta_tags %>
    </head>
    <body>
    <div id="wrapper">
      <div id="header-wrapper">
        <div id="header">
          <div id="logo">
            <img src="/assets/logo.png" style="padding-top: 22px;">
          </div>
          <div id="menu">
            <ul>
              <li><a href="#" accesskey="1" title="">Contatos</a></li>
              <li><a href="#" accesskey="2" title="">Consultas</a></li>
              <li><a href="#" accesskey="3" title="">Levantamentos</a></li>
              <li><a href="#" accesskey="4" title="">Flagrantes</a></li>
              <li class="logout"><%= link_to "SAIR", logout_path, :method => :post %></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <div id="banner"><%= image_tag "header-img.jpg", {:width=>"1120", :height=>"50"} %></div> -->
      <div id="page-wrapper">
        <div id="page">
          <div id="content">

            <%= yield %>

          </div>
          <div id="sidebar">

          </div>
        </div>
      </div>
      <div id="footer-wrapper">
        <div id="footer-content">

        </div>
      </div>
    </div>
    <div id="footer">
      <p>Copyright (c) 2012 sie.com.br. All rights reserved. Design by <a href="http://www.freecsstemplates.org">FCT</a>.</p>
    </div>
    </body>
    </html>
<% else %>
    <script>
        window.location.href="/"  // put your correct path in a string here
    </script>
<% end %>
